[submodule "TFLearn"]
	path = TFLearn
	url = https://github.com/tflearn/tflearn
[submodule "TensorFlow-Examples"]
	path = TensorFlow-Examples
	url = https://github.com/aymericdamien/TensorFlow-Examples
[submodule "Books-Papers-Roadmap"]
	path = Books-Papers-Roadmap
	url = https://github.com/floodsung/Deep-Learning-Papers-Reading-Roadmap
[submodule "Most-Cited-Deep-Learning-Papers"]
	path = Most-Cited-Deep-Learning-Papers
	url = https://github.com/terryum/awesome-deep-learning-papers
[submodule "CheatSheets"]
	path = CheatSheets
	url = https://github.com/kailashahirwar/cheatsheets-ai
[submodule "PyTorch"]
	path = PyTorch
	url = https://github.com/pytorch/pytorch
